nltk
streamlit>=1.30.0
bs4>=0.02
PIL
openai
google.generativeai
operator
brain
audio_recorder_streamlit
multiprocessing
langchain
opensearchpy
langchain_core
langchain_community
tiktoken
pandas
faiss
readabilipy
botocore
boto3
