nltk
streamlit>=1.30.0
bs4>=0.02
PIL
operator
brain
audio_recorder_streamlit
multiprocessing
langchain>=0.1.13
opensearchpy
langchain_core>=0.1.41
langchain_community>=0.0.32
tiktoken>=0.5.2
pandas
faiss
readabilipy>=0.2.0
botocore>=1.34.3
boto3>=1.34.3
